  <div id="pre-load">
    <div id="loader" class="loader">
      <div class="loader-container">
        <div class="loader-icon">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
    </div>
  </div>

<header class="custom-header" role="navigation">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div class="logo">
        <a href="index.html">
          <img src="/assets/images/pictures/logo.svg" alt="RR Pulse Logo">
        </a>
      </div>
      <div class="r-block">
        <a href="index.html" class="nav-action-box">
          <div class="img-box">
            <img src="/assets/images/icons/ic-home.svg" alt="Home">
          </div>
        </a>
        <button class="menu-button" data-bs-toggle="modal" data-bs-target="#menuModal">
          Menu
        </button>
        <div class="d-flex align-items-centerd-flex justify-content-center user-dropdown">
          <div class="dropdown">
            <button class="dropdown-toggle user-menu d-flex align-items-centerd-flex" type="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <div class="u-picture"><img src="/assets/images/pictures/user-picture.png" alt="User"></div>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="my-profile.html">
                  <div class="frame-5">
                    <span>My Profile</span>
                  </div>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="saved-items.html">
                  <div class="frame-5">
                    <span>Saved Stories</span>
                  </div>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="saved-items.html">
                  <div class="frame-5">
                    <span>My Newsletters</span>
                  </div>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#">
                  <div class="frame-5">
                    <span>Sign Out</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <button class="nav-action-box" type="button" data-bs-toggle="modal" data-bs-target="#notificationsModal">
          <div class="icon"><img src="/assets/images/icons/ic-notification.svg" alt="Notifications"><span></span></div>
        </button>
      </div>
    </div>
  </div>
  <!-- Menu Modal -->
  <div class="modal fade menu-modal" id="menuModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content menu-modal">

        <!-- Header -->
        <div class="modal-header border-0 px-4 pt-4">
          <div class="container d-flex justify-content-between">
            <div class="logo">
              <a href="index.html">
                <img src="/assets/images/pictures/logo.svg" alt="RR Pulse Logo">
              </a>
            </div>
            <div class="d-flex align-items-center gap-4">
              <a href="variants.html" class="menu-button">Intro</a>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
          </div>
        </div>

        <!-- Body -->
        <div class="modal-body d-flex flex-column align-items-center justify-content-center menu-body">

          <div class="container">
            <div class="row">
              <div class="d-none d-md-flex col-md-6 align-items-end">
                
        <div class="d-flex align-items-centerd-flex justify-content-center user-dropdown">
          <div class="dropdown">
            <button class="dropdown-toggle user-menu d-flex align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <div class="u-content">
                <h2>Netraj Singh</h2>
                <a>Logout</a>
              </div>
              <div class="u-picture"><img src="/assets/images/pictures/user-picture.png" alt="User"></div>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="my-profile.html">
                  <div class="frame-5">
                    <span>My Profile</span>
                  </div>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="saved-items.html">
                  <div class="frame-5">
                    <span>Saved Stories</span>
                  </div>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="saved-items.html">
                  <div class="frame-5">
                    <span>My Newsletters</span>
                  </div>
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#">
                  <div class="frame-5">
                    <span>Sign Out</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        

      </div>
              <div class="col-6">
                <div class="web-top-nav">
                        <div class="row g-1">
                          <div class="col-12">
                            <a href="samvaad.html" class="t-n-block samvaad">
                              <div class="content">
                                <div class="top-content">
                                  <div class="img-box">
                                    <img src="/assets/images/icons/ic-samvaad.svg" alt="Samvaad">
                                  </div>
                                  <span>Samvaad</span>
                                </div>
                                <div class="bottom-content">
                                  Let's talk about it.
                                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M39.5943 18.6075C40.1352 18.8779 40.1352 19.7569 39.5943 20.0274C35.4021 22.3264 31.1423 24.4225 26.5444 25.6395C25.8682 25.7748 25.1921 25.031 25.5978 24.4224C26.5444 23.0701 27.6939 21.9207 29.0462 20.9064C19.5799 21.1769 9.77561 22.4616 0.444588 20.2303C-0.231573 20.095 -0.0963437 18.9457 0.579928 19.0133C10.249 20.2303 19.8505 19.2836 29.5196 19.1485C28.5054 17.999 27.4911 16.8496 26.4769 15.7677C26.0036 15.2944 26.274 14.28 27.0854 14.3477C31.548 14.8887 35.7402 16.3762 39.5943 18.6075ZM31.548 19.3512C32.1565 19.7569 32.0213 20.9064 31.0747 20.9064L30.9394 20.9064C30.1281 21.7178 29.3167 22.4616 28.5053 23.3406C31.6156 22.2587 34.5231 20.9064 37.4306 19.3514C34.7936 17.999 32.0889 16.9848 29.1814 16.4439C29.8576 17.1876 30.5337 17.999 31.2775 18.7429C31.548 18.8779 31.6156 19.1485 31.548 19.3512Z" fill="#1ECCB0" />
          </svg>
                                </div>
                              </div>
                            </a>
                          </div>
                          <div class="col-12">
                            <a href="winspiration.html" class="t-n-block winspiration">
                              <div class="content">
                                <div class="top-content">
                                  <div class="img-box">
                                    <img src="/assets/images/icons/ic-winspiration.svg" alt="Winspiration">
                                  </div>
                                  <span>Winspiration</span>
                                </div>
                                <div class="bottom-content">
                                  We are gonna get it!
                                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M39.5943 18.6075C40.1352 18.8779 40.1352 19.7569 39.5943 20.0274C35.4021 22.3264 31.1423 24.4225 26.5444 25.6395C25.8682 25.7748 25.1921 25.031 25.5978 24.4224C26.5444 23.0701 27.6939 21.9207 29.0462 20.9064C19.5799 21.1769 9.77561 22.4616 0.444588 20.2303C-0.231573 20.095 -0.0963437 18.9457 0.579928 19.0133C10.249 20.2303 19.8505 19.2836 29.5196 19.1485C28.5054 17.999 27.4911 16.8496 26.4769 15.7677C26.0036 15.2944 26.274 14.28 27.0854 14.3477C31.548 14.8887 35.7402 16.3762 39.5943 18.6075ZM31.548 19.3512C32.1565 19.7569 32.0213 20.9064 31.0747 20.9064L30.9394 20.9064C30.1281 21.7178 29.3167 22.4616 28.5053 23.3406C31.6156 22.2587 34.5231 20.9064 37.4306 19.3514C34.7936 17.999 32.0889 16.9848 29.1814 16.4439C29.8576 17.1876 30.5337 17.999 31.2775 18.7429C31.548 18.8779 31.6156 19.1485 31.548 19.3512Z" fill="#F7AB20" />
          </svg>
                                </div>
                              </div>
                            </a>
                          </div>
                          <div class="col-12">
                            <a href="shabd.html" class="t-n-block shabd">
                              <div class="content">
                                <div class="top-content">
                                  <div class="img-box">
                                    <img src="/assets/images/icons/ic-shabd.svg" alt="Shabd">
                                  </div>
                                  <span>Shabd</span>
                                </div>
                                <div class="bottom-content">
                                  Learn more today.
                                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M39.5943 18.6075C40.1352 18.8779 40.1352 19.7569 39.5943 20.0274C35.4021 22.3264 31.1423 24.4225 26.5444 25.6395C25.8682 25.7748 25.1921 25.031 25.5978 24.4224C26.5444 23.0701 27.6939 21.9207 29.0462 20.9064C19.5799 21.1769 9.77561 22.4616 0.444588 20.2303C-0.231573 20.095 -0.0963437 18.9457 0.579928 19.0133C10.249 20.2303 19.8505 19.2836 29.5196 19.1485C28.5054 17.999 27.4911 16.8496 26.4769 15.7677C26.0036 15.2944 26.274 14.28 27.0854 14.3477C31.548 14.8887 35.7402 16.3762 39.5943 18.6075ZM31.548 19.3512C32.1565 19.7569 32.0213 20.9064 31.0747 20.9064L30.9394 20.9064C30.1281 21.7178 29.3167 22.4616 28.5053 23.3406C31.6156 22.2587 34.5231 20.9064 37.4306 19.3514C34.7936 17.999 32.0889 16.9848 29.1814 16.4439C29.8576 17.1876 30.5337 17.999 31.2775 18.7429C31.548 18.8779 31.6156 19.1485 31.548 19.3512Z" fill="#0078AD" />
          </svg>
                                </div>
                              </div>
                            </a>
                          </div>
                          <div class="col-12">
                            <a href="shaurya.html" class="t-n-block shaurya">
                              <div class="content">
                                <div class="top-content">
                                  <div class="img-box">
                                    <img src="/assets/images/icons/ic-shaurya.svg" alt="Shaurya">
                                  </div>
                                  <span>Shaurya</span>
                                </div>
                                <div class="bottom-content">
                                  Proud of it.
                                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M39.5943 18.6075C40.1352 18.8779 40.1352 19.7569 39.5943 20.0274C35.4021 22.3264 31.1423 24.4225 26.5444 25.6395C25.8682 25.7748 25.1921 25.031 25.5978 24.4224C26.5444 23.0701 27.6939 21.9207 29.0462 20.9064C19.5799 21.1769 9.77561 22.4616 0.444588 20.2303C-0.231573 20.095 -0.0963437 18.9457 0.579928 19.0133C10.249 20.2303 19.8505 19.2836 29.5196 19.1485C28.5054 17.999 27.4911 16.8496 26.4769 15.7677C26.0036 15.2944 26.274 14.28 27.0854 14.3477C31.548 14.8887 35.7402 16.3762 39.5943 18.6075ZM31.548 19.3512C32.1565 19.7569 32.0213 20.9064 31.0747 20.9064L30.9394 20.9064C30.1281 21.7178 29.3167 22.4616 28.5053 23.3406C31.6156 22.2587 34.5231 20.9064 37.4306 19.3514C34.7936 17.999 32.0889 16.9848 29.1814 16.4439C29.8576 17.1876 30.5337 17.999 31.2775 18.7429C31.548 18.8779 31.6156 19.1485 31.548 19.3512Z" fill="#C135C5" />
          </svg>
                                </div>
                              </div>
                            </a>
                          </div>
                          <div class="col-12">
                            <a href="swarnim.html" class="t-n-block swarnim">
                              <div class="content">
                                <div class="top-content">
                                  <div class="img-box">
                                    <img src="/assets/images/icons/ic-swarnim.svg" alt="Swarnim">
                                  </div>
                                  <span>Swarnim</span>
                                </div>
                                <div class="bottom-content">
                                  Winners everywhere.
                                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                      d="M39.5943 18.6075C40.1352 18.8779 40.1352 19.7569 39.5943 20.0274C35.4021 22.3264 31.1423 24.4225 26.5444 25.6395C25.8682 25.7748 25.1921 25.031 25.5978 24.4224C26.5444 23.0701 27.6939 21.9207 29.0462 20.9064C19.5799 21.1769 9.77561 22.4616 0.444588 20.2303C-0.231573 20.095 -0.0963437 18.9457 0.579928 19.0133C10.249 20.2303 19.8505 19.2836 29.5196 19.1485C28.5054 17.999 27.4911 16.8496 26.4769 15.7677C26.0036 15.2944 26.274 14.28 27.0854 14.3477C31.548 14.8887 35.7402 16.3762 39.5943 18.6075ZM31.548 19.3512C32.1565 19.7569 32.0213 20.9064 31.0747 20.9064L30.9394 20.9064C30.1281 21.7178 29.3167 22.4616 28.5053 23.3406C31.6156 22.2587 34.5231 20.9064 37.4306 19.3514C34.7936 17.999 32.0889 16.9848 29.1814 16.4439C29.8576 17.1876 30.5337 17.999 31.2775 18.7429C31.548 18.8779 31.6156 19.1485 31.548 19.3512Z"
                                      fill="#AA0023" />
                                  </svg>
                                </div>
                              </div>
                            </a>
                          </div>
                          <div class="col-12">
                            <a href="faq.html" class="t-n-block faq">
                              <div class="content">
                                <div class="top-content">
                                  <div class="img-box">
                                    <img src="/assets/images/icons/ic-faq.svg" alt="FAQ">
                                  </div>
                                  <span>FAQ</span>
                                </div>
                                <div class="bottom-content">
                                  Need help? Find answers.
                                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M39.5943 18.6075C40.1352 18.8779 40.1352 19.7569 39.5943 20.0274C35.4021 22.3264 31.1423 24.4225 26.5444 25.6395C25.8682 25.7748 25.1921 25.031 25.5978 24.4224C26.5444 23.0701 27.6939 21.9207 29.0462 20.9064C19.5799 21.1769 9.77561 22.4616 0.444588 20.2303C-0.231573 20.095 -0.0963437 18.9457 0.579928 19.0133C10.249 20.2303 19.8505 19.2836 29.5196 19.1485C28.5054 17.999 27.4911 16.8496 26.4769 15.7677C26.0036 15.2944 26.274 14.28 27.0854 14.3477C31.548 14.8887 35.7402 16.3762 39.5943 18.6075ZM31.548 19.3512C32.1565 19.7569 32.0213 20.9064 31.0747 20.9064L30.9394 20.9064C30.1281 21.7178 29.3167 22.4616 28.5053 23.3406C31.6156 22.2587 34.5231 20.9064 37.4306 19.3514C34.7936 17.999 32.0889 16.9848 29.1814 16.4439C29.8576 17.1876 30.5337 17.999 31.2775 18.7429C31.548 18.8779 31.6156 19.1485 31.548 19.3512Z" fill="#36AA00" />
                                  </svg>
                                </div>
                              </div>
                            </a>
                          </div>
                        </div>
                </div>
              </div>
            </div>
</div>
        </div>

      </div>
    </div>
  </div>
  <!-- Notifications Modal -->
  <div class="modal fade" id="notificationsModal" tabindex="-1" aria-labelledby="notificationsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <div class="d-flex w-100 justify-content-between align-items-center">
            <div>
              <h5 class="modal-title" id="notificationsModalLabel">Notifications</h5>
              <div class="modal-actions">
                <button type="button" class="btn btn-link">Mark all as read</button>
                <button type="button" class="btn btn-link">Clear all</button>
              </div>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        </div>
        <div class="modal-body">
          <div class="notification-list">
            <!-- Story notification -->
            <div class="notification-item">
              <div class="notification-icon">
                <img src="/assets/images/icons/notifs/ic-shabd.svg" alt="Shabd icon">
              </div>
              <div class="notification-content">
                <p class="notification-text">Shabd has new story added.</p>
                <span class="notification-date">Tuesday, 08 Sep 2023</span>
              </div>
            </div>

            <!-- Comment notification -->
            <div class="notification-item">
              <div class="notification-icon">
                <img src="/assets/images/icons/ic-comment.svg" alt="Comment icon">
              </div>
              <div class="notification-content">
                <p class="notification-text">Rizy has commented on Samvaad.</p>
                <span class="notification-date">Tuesday, 08 Sep 2023</span>
              </div>
            </div>

            <!-- Award notification -->
            <div class="notification-item">
              <div class="notification-icon">
                <img src="/assets/images/icons/notifs/ic-shaurya.svg" alt="Award icon">
              </div>
              <div class="notification-content">
                <p class="notification-text">Devendra has been awarded Shaurya.</p>
                <span class="notification-date">Tuesday, 08 Sep 2023</span>
              </div>
            </div>

            <!-- Achievement notification -->
            <div class="notification-item">
              <div class="notification-icon">
                <img src="/assets/images/icons/notifs/ic-shaurya.svg" alt="Trophy icon">
              </div>
              <div class="notification-content">
                <p class="notification-text">Reliance Fresh employee gets Swarnim acknowledgment.</p>
                <span class="notification-date">Tuesday, 08 Sep 2023</span>
              </div>
            </div>

            <!-- Update notification -->
            <div class="notification-item">
              <div class="notification-icon">
                <img src="/assets/images/icons/notifs/ic-winspiration.svg" alt="Winspiration icon">
              </div>
              <div class="notification-content">
                <p class="notification-text">Winspiration has been updated.</p>
                <span class="notification-date">Tuesday, 08 Sep 2023</span>
              </div>
            </div>

            <!-- Quiz notifications -->
            <div class="notification-item">
              <div class="notification-icon">
                <img src="/assets/images/icons/notifs/ic-shabd.svg" alt="Quiz icon">
              </div>
              <div class="notification-content">
                <p class="notification-text">Neetesh is 1st runner up for 0802 Quiz.</p>
                <span class="notification-date">Tuesday, 08 Sep 2023</span>
              </div>
            </div>

            <div class="notification-item">
              <div class="notification-icon">
                <img src="/assets/images/icons/ic-comment.svg" alt="Comment icon">
              </div>
              <div class="notification-content">
                <p class="notification-text">Samvaad got 3400k new likes.</p>
                <span class="notification-date">Tuesday, 08 Sep 2023</span>
              </div>
            </div>

            <div class="notification-item">
              <div class="notification-icon">
                <img src="/assets/images/icons/ic-winspiration.svg" alt="Winspiration icon">
              </div>
              <div class="notification-content">
                <p class="notification-text">Winspiration has 15 new likes.</p>
                <span class="notification-date">Tuesday, 08 Sep 2023</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>


  <div class="page-content index-page">

    <div class="web-top-nav">
      <div class="container">
        <div class="row">
          <div class="col">
            <a href="samvaad.html" class="t-n-block samvaad">
              <div class="content">
                <div class="top-content">
                  <div class="img-box">
                    <img src="/assets/images/icons/ic-samvaad.svg" alt="Samvaad Icon">
                  </div>
                  <span>Samvaad</span>
                </div>
                <div class="bottom-content">
                  Let's talk about it.
                </div>
              </div>
            </a>
          </div>
          <div class="col">
            <a href="winspiration.html" class="t-n-block winspiration">
              <div class="content">
                <div class="top-content">
                  <div class="img-box">
                    <img src="/assets/images/icons/ic-winspiration.svg" alt="Winspiration Icon">
                  </div>
                  <span>Winspiration</span>
                </div>
                <div class="bottom-content">
                  We are gonna get it!
                </div>
              </div>
            </a>
          </div>
          <div class="col">
            <a href="shabd.html" class="t-n-block shabd">
              <div class="content">
                <div class="top-content">
                  <div class="img-box">
                    <img src="/assets/images/icons/ic-shabd.svg" alt="Shabd Icon">
                  </div>
                  <span>Shabd</span>
                </div>
                <div class="bottom-content">
                  Learn more today.
                </div>
              </div>
            </a>
          </div>
          <div class="col">
            <a href="shaurya.html" class="t-n-block shaurya">
              <div class="content">
                <div class="top-content">
                  <div class="img-box">
                    <img src="/assets/images/icons/ic-shaurya.svg" alt="Shaurya Icon">
                  </div>
                  <span>Shaurya</span>
                </div>
                <div class="bottom-content">
                  Proud of it.
                </div>
              </div>
            </a>
          </div>
          <div class="col">
            <a href="swarnim.html" class="t-n-block swarnim">
              <div class="content">
                <div class="top-content">
                  <div class="img-box">
                    <img src="/assets/images/icons/ic-swarnim.svg" alt="Swarnim Icon">
                  </div>
                  <span>Swarnim</span>
                </div>
                <div class="bottom-content">
                  Winners everywhere.
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <section class="hero-section">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-8">
            <div class="row h-100">
              <div class="col-12">
                <div class="swiper custom-swiper heroSwiper">
                  <div class="slider" id="slider">
                    <button class="nav-button prev" id="prevBtn">&#10094;</button>
                    <button class="nav-button next" id="nextBtn">&#10095;</button>
                    <div class="slide swiper-slide active">
                      <div class="slide-box slide-1">
                        <div class="slide-content">
                          <h2>Director's Message</h2>
                          <p>The journey awaits, let's embark.</p>
                          <a href="" class="primary-btn">
                            View Message
                            <div class="img-box">
                              <img src="/assets/images/icons/ic-forward.svg" alt="" class="ms-2">
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="slide swiper-slide inactive">
                      <div class="slide-box slide-2">
                        <div class="slide-content">
                        </div>
                      </div>
                    </div>
                    <div class="slide swiper-slide inactive">
                      <div class="slide-box slide-3">
                        <div class="slide-content">
                        </div>
                      </div>
                    </div>
                    <div class="slide swiper-slide inactive">
                      <div class="slide-box slide-4">
                        <div class="slide-content">
                        </div>
                      </div>
                    </div>
                    <div class="slide swiper-slide inactive">
                      <div class="slide-box slide-4">
                        <div class="slide-content">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              


              <div class="col-12">
                <div class="notice-text-swiper swiper h-100">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="notice-box">
                        <strong>Important <b>Notices</b></strong>
                        <p>
                          The holiday season is a time of warmth, togetherness, and joy. One of the most
                          beloved traditions during this time is decorating our homes with festive lights.
                          However, every now and then, it's great to give those ordinary lights a stunning makeover.
                        </p>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="notice-box">
                        <strong>Update <b>Alert</b></strong>
                        <p>
                          Our store hours have changed for the holiday season. Please check the new timings
                          before visiting.
                        </p>
                      </div>
                    </div>
                    <!-- Add more slides as needed -->
                  </div>

                  <!-- Pagination Dots -->
                  <div class="swiper-pagination"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4 mt-2 mt-0">
            <div class="row">
              <div class="col-12">
                <div class="newsletter-card">
                  <div class="newsletter-header">
                    <span class="title">Newsletter</span>
                    <span class="date">24 Nov 23</span>
                  </div>
                  <p class="message">Nov Samvaad is out now.</p>
                  <button class="secondary-btn">Read Newsletter</button>
                </div>
              </div>
              <div class="col-12">
                <div class="shabd-card">
                  <div class="header">
                    <span class="highlight">Shabd</span>
                    <span class="rest">Of The Day</span>
                  </div>

                  <div class="word">Fustian</div>

                  <div class="meta">
                    <span class="type">noun</span>
                    <span class="phonetic">/ˈfʌstən/</span>
                  </div>

                  <div class="definition">
                    thick, hard-wearing twilled cloth with a short nap, usually dyed in dark colours.
                  </div>

                  <div class="example">
                    "the coarse fustian of prison clothing"
                  </div>

                  <button class="secondary-btn">View Shabd of The Day</button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="latest-updates-section container my-5">
      <h3 class="section-title mb-2 fw-bold">Get The <b class="text-purple">Latest Updates</b></h3>
      <div class="row g-2">
        <div class="col-12 col-md-4" >
          <div class="update-card p-2 rounded-4 shadow-sm bg-white h-100 d-flex flex-column">
            <img src="/assets/images/pictures/latest-updates-bg.png" alt="Card Image" class="img-fluid rounded-3 mb-3">

            <div class="d-flex justify-content-between">
              <div class="meta small text-muted mb-1">Published on : <span>25th July'23</span></div>

              <div class="tag d-flex align-items-center" style="color: #1eccb0;">
                <img src="/assets/images/icons/ic-samvaad-color.svg" alt="icon" class="me-1"> Samvaad
              </div>
            </div>

            <h5 class="title fw-bold mb-2">Celebrating Labor Day</h5>

            <div class="footer d-flex justify-content-between align-items-center mt-auto pt-2 border-top">
              <div class="icons d-flex gap-1">
                <span><img src="/assets/images/icons/ic-like.svg" alt="like" class="me-1">12</span>
                <div class="vr"></div>
                <span><img src="/assets/images/icons/ic-comment.svg" alt="comments" class="me-1">3</span>
                <div class="vr"></div>
                <span><img src="/assets/images/icons/ic-share.svg" alt="shares" class="me-1">8</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4" >
          <div class="update-card p-2 rounded-4 shadow-sm bg-white h-100 d-flex flex-column">
            <img src="/assets/images/pictures/latest-updates-bg.png" alt="Card Image" class="img-fluid rounded-3 mb-3">

            <div class="d-flex justify-content-between">
              <div class="meta small text-muted mb-1">Published on : <span>25th July'23</span></div>

              <div class="tag d-flex align-items-center" style="color: #F7AB20;">
                <img src="/assets/images/icons/ic-winspiration-color.svg" alt="icon" class="me-1"> Winspiration
              </div>
            </div>

            <h5 class="title fw-bold mb-2">Goal must be rock solid!</h5>

            <div class="footer d-flex justify-content-between align-items-center mt-auto pt-2 border-top">
              <div class="icons d-flex gap-1">
                <span><img src="/assets/images/icons/ic-like.svg" alt="like" class="me-1">12</span>
                <div class="vr"></div>
                <span><img src="/assets/images/icons/ic-comment.svg" alt="comments" class="me-1">3</span>
                <div class="vr"></div>
                <span><img src="/assets/images/icons/ic-share.svg" alt="shares" class="me-1">8</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4" >
          <div class="update-card p-2 rounded-4 shadow-sm bg-white h-100 d-flex flex-column">
            <img src="/assets/images/pictures/latest-updates-bg.png" alt="Card Image" class="img-fluid rounded-3 mb-3">

            <div class="d-flex justify-content-between">
              <div class="meta small text-muted mb-1">Published on : <span>25th July'23</span></div>

              <div class="tag d-flex align-items-center" style="color: #0078AD;">
                <img src="/assets/images/icons/ic-shabd-color.svg" alt="icon" class="me-1"> Shabd
              </div>
            </div>

            <h5 class="title fw-bold mb-2">Guardian of my Galaxy</h5>

            <div class="footer d-flex justify-content-between align-items-center mt-auto pt-2 border-top">
              <div class="icons d-flex gap-1">
                <span><img src="/assets/images/icons/ic-like.svg" alt="like" class="me-1">12</span>
                <div class="vr"></div>
                <span><img src="/assets/images/icons/ic-comment.svg" alt="comments" class="me-1">3</span>
                <div class="vr"></div>
                <span><img src="/assets/images/icons/ic-share.svg" alt="shares" class="me-1">8</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="message-section">
      <div class="container my-5 message-section">
        <!-- Title -->
        <div class="row">
          <div class="col-12">
            <h3 class="section-title mb-2 fw-bold">Directors <b class="text-purple">Message</b></h3>
          </div>
        </div>

        <div class="row align-items-start mt-3">
          <!-- Left Section (Image + Text) -->
          <div class="col-12 col-xl-8 d-flex">
            <div class="profile-img me-4">
              <img src="/assets/images/pictures/Director Image.png" alt="Profile" class="img-fluid rounded-start">
            </div>
            <div class="profile-content align-self-end">
              <blockquote>With innovation as our fuel,We shall reach the pinnacle of success.The journey awaits, let's
                embark.</blockquote>
              <p>In a world of constant change and endless possibilities, let us embrace the journey of innovation and
                collaboration. Together, we will shape the future, driven by passion and guided by vision. With
                unwavering determination.</p>
              <div class="read-more" data-bs-toggle="modal" data-bs-target="#messageModal">Read More</div>
              <div class="director-name">
                <h4 class="fw-bold text-dark">Subramaniam V.</h4>
                <span>Director, Reliance Retail</span>
              </div>
            </div>
          </div>

          <!-- Right Section (Cards) -->
          <div class="col-12 col-xl-4 feedback-cards d-flex flex-column flex-lg-row flex-xl-column gap-2 mt-4 mt-xl-0">
            <a href="raise-query.html" class="feedback-card d-flex align-items-center p-3 rounded-4 shadow-sm bg-white text-decoration-none">
              <img src="/assets/images/pictures/got-an-issue.png" alt="Issue" class="me-3 icon-img">
              <div>
                <h6 class="fw-bold mb-1">Got An Issue?</h6>
                <button class="secondary-btn">Raise An Issue</button>
              </div>
            </a>

            <a href="feedback.html" class="feedback-card d-flex align-items-center p-3 rounded-4 shadow-sm bg-white text-decoration-none">
              <img src="/assets/images/pictures/help-improve.png" alt="Feedback" class="me-3 icon-img">
              <div>
                <h6 class="fw-bold mb-1">Help Us to Improve</h6>
                <button class="secondary-btn">Share your experience</button>
              </div>
            </a>

            <a href="contest.html" class="feedback-card d-flex align-items-center p-3 rounded-4 shadow-sm bg-white text-decoration-none">
              <img src="/assets/images/pictures/feeling-lucky.png" alt="Contest" class="me-3 icon-img">
              <div>
                <h6 class="fw-bold mb-1">Feeling Lucky?</h6>
                <button class="secondary-btn">Take Contest</button>
              </div>
            </a>
          </div>
        </div>
      </div>


    </section>


  </div>

<footer>
  <footer class="footer bg-light pt-5 pb-4">
    <div class="container">
      <div class="row align-items-start justify-content-between">
        <!-- Logo & Social -->
        <div class="col-6 col-md-4 col-lg-3 mb-4">
          <div class="d-flex align-items-center mb-3">
            <a href="index.html">
              <img src="/assets/images/pictures/logo.svg" alt="RR Pulse Logo" style="height: 36px;" class="me-2">
            </a>
          </div>
          <p class="mb-1">Follow Us On</p>
          <div class="social-icons d-flex gap-3">
            <a href="https://facebook.com" target="_blank"><img src="/assets/images/icons/facebook.svg" alt="Facebook"></a>
            <a href="https://twitter.com" target="_blank"><img src="/assets/images/icons/twitter.svg" alt="Twitter"></a>
            <a href="https://instagram.com" target="_blank"><img src="/assets/images/icons/instagram.svg" alt="Instagram"></a>
            <a href="https://linkedin.com" target="_blank"><img src="/assets/images/icons/linkedin.svg" alt="LinkedIn"></a>
          </div>
        </div>
  
        <!-- App Badges -->
        <div class="col-6 col-md-4 mb-4 col-lg-2 text-center">
          <a href="https://play.google.com" target="_blank"><img src="/assets/images/pictures/play-store.png" alt="Google Play" class="mb-2" style="height: 40px;"></a><br>
          <a href="https://apps.apple.com" target="_blank"><img src="/assets/images/pictures/app-store.png" alt="App Store" style="height: 40px;"></a>
        </div>
  
        <!-- Links -->
        <div class="col-12 col-md-4 mb-4 col-lg-7 text-md-end text-start">
          <div class="footer-links mb-2">
            <a href="samvaad.html" class="text-muted me-3">Samvaad</a>
            <a href="winspiration.html" class="text-muted me-3">Winspiration</a>
            <a href="shabd.html" class="text-muted me-3">Shabd</a>
            <a href="shaurya.html" class="text-muted me-3">Shaurya</a>
            <a href="swarnim.html" class="text-muted me-3">Swarnim</a>
            <a href="newsletter.html" class="text-muted me-3">Newsletter</a>
            <a href="contest.html" class="text-muted">Contest</a>
          </div>
          <div class="footer-links mt-2">
            <a href="feedback.html" class="text-muted me-3">Share Feedback</a>
            <a href="raise-query.html" class="text-muted">Raise An Issue</a>
          </div>
        </div>
      </div>
  
      <!-- Bottom Copyright -->
      <div class="text-center text-muted mt-4 pt-3 border-top">
        ©2021–2025 Reliance Retail | All Rights Reserved
      </div>
    </div>
  </footer>
  
</footer>

  <!-- Filters Modal -->
  <div class="modal message-modal fade" id="messageModal" tabindex="-1" aria-labelledby="examplefiltersModal"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="d-flex align-items-center w-100">
            <div class="d-flex justify-content-start w-100">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Director's <span>Message</span></h1>
            </div>
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body py-1">
          <div class="message-modal-box">
            <div class="row">
              <!-- Left Image Section -->
              <div class="col-md-4 text-center">
                <div class="profile-img me-4">
                  <img src="/assets/images/pictures/Director Image.png" alt="Profile" class="img-fluid rounded-start">
                </div>
                <div class="p-3 text-start">
                  <h5 class="fw-bold mb-0">Subramaniam V.</h5>
                  <small class="text-muted">Director - Reliance Retail</small>
                </div>
              </div>

              <!-- Right Text Section -->
              <div class="col-md-8 p-4">
                <blockquote class="text-muted">With innovation as our fuel,We shall reach the pinnacle of success.The
                  journey awaits, let's embark.</blockquote>

                <p class="mt-3 small">
                  This includes those of us helming businesses and/or part of business teams, and the creative writers
                  and "contemplatives", "ideators", whose works, thoughts, ideas propel us forward. We are each working
                  towards improving organization's social and psychological life, along with, and in fact IN SYNC with,
                  its material existence, its value-creating intrinsic trait that we power.
                </p>
                <p>
                  What is value creation? Value creation is the idea that VALUE IS NOT DISCOVERED, it is not in hiding
                  somewhere, it is CREATED. Why so? This is because with time, needs, wants, desires change, evolve. In
                  customer facing businesses, we discern needs and we build to solve for them. We are each creating
                  Value in that sense. However, a stagnant, static repeat of what was always done, almost never leads to
                  any benefit let along creation of value.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
